# Токен Telegram-бота, полученный от @BotFather
BOT_TOKEN=8931055392:AAE_XxuOCYez7hlwkQUBpGCwcHtWekmGNVY

# ID Google Spreadsheet (берётся из URL таблицы)
# https://docs.google.com/spreadsheets/d/ЭТОТ_ID/edit
SPREADSHEET_ID=1uE1hTn2M4nDWVq5TmYewqdNaIIIVaju4Djfbff1bvOs

# Список разрешённых Telegram User ID через запятую (без пробелов или с пробелами — не важно)
ALLOWED_USER_IDS=6351269470

# Путь к файлу Service Account (относительно корня проекта)
GOOGLE_CREDENTIALS_PATH=credentials.json
